
@font-face {
  font-family: 'Radiance';
  src: url('https://steamcdn-a.akamaihd.net/apps/dota2/fonts/radiance.eot');
  src: url('https://steamcdn-a.akamaihd.net/apps/dota2/fonts/radiance.eot?#iefix') format('embedded-opentype'),
  url('https://steamcdn-a.akamaihd.net/apps/dota2/fonts/radiance.woff') format('woff'),
  url('https://steamcdn-a.akamaihd.net/apps/dota2/fonts/radiance.ttf') format('truetype'),
  url('https://steamcdn-a.akamaihd.net/apps/dota2/fonts/radiance.svg#ywftsvg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Radiance-Bold';
  src: url('https://steamcdn-a.akamaihd.net/apps/dota2/fonts/radiance-bold.eot');
  src: url('https://steamcdn-a.akamaihd.net/apps/dota2/fonts/radiance-bold.eot?#iefix') format('embedded-opentype'),
  url('https://steamcdn-a.akamaihd.net/apps/dota2/fonts/radiance-bold.woff') format('woff'),
  url('https://steamcdn-a.akamaihd.net/apps/dota2/fonts/radiance-bold.ttf') format('truetype'),
  url('https://steamcdn-a.akamaihd.net/apps/dota2/fonts/radiance-bold.svg#ywftsvg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Radiance-SemiBold';
  src: url('https://steamcdn-a.akamaihd.net/apps/dota2/fonts/radiance-semibold.eot');
  src: url('https://steamcdn-a.akamaihd.net/apps/dota2/fonts/radiance-semibold.eot?#iefix') format('embedded-opentype'),
  url('https://steamcdn-a.akamaihd.net/apps/dota2/fonts/radiance-semibold.woff') format('woff'),
  url('https://steamcdn-a.akamaihd.net/apps/dota2/fonts/radiance-semibold.ttf') format('truetype'),
  url('https://steamcdn-a.akamaihd.net/apps/dota2/fonts/radiance-semibold.svg#ywftsvg') format('svg');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Radiance';
  background-color: #295ca5;
  color: white;
}
.slideshow-box {
  position: relative;
  overflow: hidden;
  width: 1080px;
  height: 608px; 
  left: 2em;
}

/*<img src="https://steamcdn-a.akamaihd.net/apps/dota2/images/blog/play/bg_07.jpg" style="width: 100%;">*/

#box {
  display: grid;
  grid-template-columns: auto auto auto;
}

/*.slide {
  width: 200%;
  font-size: 0;
  position: absolute;
  left: 25%;
  top: 20%;
}*/

.slide img {
  vertical-align: left;
}

.container {
  position: relative;
}

.container img{
  width: 100%;
  display: block;
}

.container p {
  font-size: 22px;
  line-height: 36px;
  text-shadow: 5px 2px 5px black;
}

.container h1 {
  font-family: 'Radiance-SemiBold';
  font-size: 40px;
  text-shadow: 5px 5px 5px black;
}

.inner {
  position: absolute;
  display: block;
  z-index: 999;
}

#box-1 .inner {
  top: 20%;
  left: 50%;
  width: 45%;
}

#box-2 .inner {
  top: 25%;
  width: 40%;
  left: 5%;
}

#box-3 .inner {
  top: 20%;
  left: 50%;
  width: 45%;
}

#box-4 .inner {
  top: 20%;
  width: 50%;
  left: 25%;
  text-align: center;
}

.intro-box {
  width: 100%;
}

#main-trailer {
  width: 70vw;
  height: 70vh;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 50px;
}

#intro-pic {
  width: 100%;
}

@media only screen and (max-width: 1300px){
  .container p {
    font-size: 15px;
  }

  .container h1 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 1000px){
  .container p {
    font-size: 10px;
    line-height: 20px;
  }

  .container h1 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 700px){
  .container p {
    font-size: 7px;
    line-height: 15px;
  }

  .container h1 {
    font-size: 15px;
  }
}
